html, body, div, span,
h1, h2, h3, h4, h5, h6, p, ul, li
 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ul {
	list-style: none;
}

a{
    text-decoration: none;
    color:#1B1C21;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

html{
    box-sizing: border-box;
  }
  
  *, *::before, *::after{
        box-sizing: inherit;
  }


  @font-face {
    font-family: 'TT Lakes Regular';
    src: url(../fonts/TTLakes-Regular.eot);
    src: local('TT Lakes Regular'),
    url(../fonts/TTLakes-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
        font-family: 'TT Lakes ExtraBold';
        src: url(../fonts/TTLakes-ExtraBold.eot);
        src: local('TT Lakes ExtraBold'),
        url(../fonts/TTLakes-ExtraBold.woff) format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
    font-family: 'TT Lakes Demi';
    src: url(/fonts/TTLakes-DemiBold.eot);
    src:local('TT Lakes Demi'),
    url(/fonts/TTLakes-DemiBold.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    }

    h2{
        font-family: 'TT Lakes Regular';
        font-size: 16px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        color: #7E7E82;
     
    }

    .section{
        background: #F2F2F2;
    }


    .section__title{
        background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
    }

 

    .open-btn{
        background-image: url(/img/next.svg);
        background-repeat: no-repeat;
        background-position: 50%, 50%;
        width: 40px;
        height: 38px;
        border: 2px solid #FF3E79;
        border-radius: 20px; 
    }

    .open-btn:hover,.open-btn:focus{
        cursor: pointer;
     }
     

    .section__brand{
        background-color: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        
    }


    @media (min-width: 250px) and (max-width: 320px){
        .section__show{
            display: none;
        }

        .swiper-pagination{
            position: absolute;
            top:200px;
        }
        .section__main .swiper-pagination-bullet{
            background-color:  #B5B6BC;
        }
        
        
        .section__brands{
            display: flex;
            gap: 16px;
        }

        .section__title{
            height: 80px;
            padding:16px;
        }

        .section__main{
            padding: 16px 0 66px 16px;
         
        }

        .section__brand{
            min-width: 208px;
            height: 72px;
        }


    }

    @media (min-width: 768px) and (max-width: 1119px){

    .swiper-pagination{
            display: none;
        }

        .section-size{
            height: 184px;
            overflow: hidden;
        }

        .section__brands{
            display: grid;
            grid-template-columns: repeat(3, 224px);
            gap: 24px;
        }
        
        .section__title{
            height: 56px;
            padding: 16px 0 16px 24px;
        }

        .section__main{
            padding:24px 24px 34px 24px;
        }

        .section__brand{
            height: 72px;
        }

        .section__show{
            margin-left:33px ;
    
        }

    }


    @media (min-width: 1120px){
        
        .swiper-pagination{
            display: none;
        }

        .section-size{
            height: 184px;
            overflow: hidden;
        }

        .section__brands{
            display: grid;
            grid-template-columns: repeat(4,224px);
            gap: 32px;
        }

        .section__title{
            height: 56px;
            padding: 16px 0 16px 32px;
        }

        .section__main{
            padding: 24px 33px 34px 32px;
        }

        .section__brand{
            height: 72px;
        }

        .section__show{
            margin-left:39px ;
    
        }


    }

    .section__show{
        margin-top: 24px;

    }
    

    .more-btn{
        position: relative;
        font-family: 'TT Lakes Demi';
    }
    
    .more-btn:hover,.more-btn:focus{
       cursor: pointer;
    }

   
    .more-btn::before{
        content:url(../img/strela.svg);
        position:absolute;
        left: -30px;
        top:-1.5px;
    
    }

  .more-btn--clicked::before{
    transform: rotate(180deg) translateY(3.5px);

  }