html, body, div, span,
h1, h2, h3, h4, h5, h6, p, ul, li
 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ul {
	list-style: none;
}

a{
    text-decoration: none;
    color:#1B1C21;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

html{
    box-sizing: border-box;
  }
  *, *::before, *::after{
        box-sizing: inherit;
  }


  /*Fonts*/

  @font-face {
    font-family: 'TT Lakes Regular';
    src: url(/fonts/TTLakes-Regular.eot);
    src: local('TT Lakes Regular'),
    url(/fonts/TTLakes-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
        font-family: 'TT Lakes ExtraBold';
        src: url(/fonts/TTLakes-ExtraBold.eot);
        src: local('TT Lakes ExtraBold'),
        url(/fonts/TTLakes-ExtraBold.woff) format('woff');
        font-weight: normal;
        font-style: normal;
    }


    body{
        font-family: 'TT Lakes Regular';
        font-style: normal;
        font-size: 16px;
        font-weight:bolder;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;

        background-color: #FFFFFF;
        width:320px;
        padding-left: 24px;
        box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 
        16px 0px 52px rgba(14, 24, 80, 0.2);

        
    }

    /*Header*/



    .header{
        padding: 23px 24px 50px 0;
  
    }

    .header__nav{
        display: flex;
        align-items:center;
        justify-content: space-between;
    }

    .header__list{
        display: flex;
        align-items:center;
        gap:17px;

    }

    .icon{
        background-color:#FF3E79;
        width: 40px;
        height: 38px;
        border-radius: 50%;     
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
.icon:focus,.icon:hover{
    cursor: pointer;
    opacity: 0.1;
}

 
.logo{
    display: block;
    max-width: 97px;
    max-height: 51px;
}

/*main*/

.choice__list{
    display: flex;
    flex-direction: column;
    gap:32px;
    padding-bottom: 268px;
}

.choice__name{
    position: relative;
    color: #7E7E82;
}

.choice__name::before{
    position: absolute;
    content:"";
    left: -25px;
    top: -5px;
    height: 32px;
    width: 3px;
    background-color:#41F6D7;;
    border: 1px solid  #41F6D7;;
    border-radius: 2px;
}

.choice__item{
    color: #1B1C21;
    display: block;
}


/*footer*/

.footer__buttons{
    display: flex;
    gap:16px;
}

.footer__contacts{
    display: flex;
    flex-direction: column;
    gap:12px;
    padding-top: 12px;
    padding-bottom: 40px;
}

.footer__mail{
    font-weight: bolder;
}

.footer__phone{
    font-family: 'TT Lakes ExtraBold' ;
    font-size:24px ;     
}


.footer__language{
    display: flex;
    gap:7px;

}

.lang-btn{
    font-weight: bolder;
}

.lang-btn:hover,.lang-btn:focus{   
    color:#7E7E82;
}
